@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300italic,300");

body {
    margin: 0;
    padding: 0;
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    padding: 0;
    margin: 0;
}

form, p, tbody, th, td, pre {
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

*:focus {
    outline: 0 none;
}

pre {
    height: auto;
}

@font-face {
    font-family: mwCustom_light;
    src: url(/fonts/Sansation_Light.ttf);
}

@font-face {
    font-family: mwCustom_normal;
    src: url(/fonts/Sansation_Regular.ttf);
}

@font-face {
    font-family: mwCustom_bold;
    src: url(/fonts/Sansation_Bold.ttf);
}

.absoluteFill {
    position: absolute !important;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: auto !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Clear {
    clear: both;
}

.Clear:after,
.clear:after {
    content: '';
    display: block;
    clear: both;
}


.notransitions,
.notransitions * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}